.experiencia-encriptador-detalle-btn1:hover {
    width: 110px;
    height: 50px;
    animation: animarbtn 2s linear;
}

.experiencia-encriptador-detalle-btn2:hover {
    width: 110px;
    height: 50px;
    animation: animarbtn 2s linear;
}

.experiencia-encriptador-detalle-copi:hover {
    width: 110px;
    height: 50px;
    animation: animarbtn 2s linear;
}

.experiencia-ahorcado-botones-n1:hover {
    width: 110px;
    height: 50px;
    animation: animarbtn 2s linear;
}

.experiencia-ahorcado-botones-n2:hover {
    width: 110px;
    height: 50px;
    animation: animarbtn 2s linear;
}


.contactos-boton:hover {
    width: 110px;
    height: 50px;
    animation: animarbtn 2s linear;
}

