
.inicio{
   
    width: 100%;
    display: flex;
    background: linear-gradient(to top, #06332a42, #1e2326), url(/img/fondo/bagraund.jpg);
    background-size: cover;
    height: 100vh;
}

.inicio-ifo{
    width: 400px;
    margin: 20px auto;
    height: 650px;
    background-color: #142531;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 2px 12px 0px #121a21;
}
.inicio-foto{
    width: 200px;
    margin: 100px auto 0px;
}
.inicio-foto-img{
    width: 100%;
    border-radius: 50%;
    border: 6px solid #263C49;
}
.inicio-titulo{
    width: 200px;
    margin: 0px auto;
    font-size: 3em;
    padding: 20px;
    color: #72DFBE;
    font-weight: bold;
}
.inicio-detalles{
    text-align: center;
    width: 350px;
    color: #fff;
    margin: 10px auto;
}